.selection__roll{
    outline: #ccc;
    color: #333;
    font-size: 15px;
  border-radius: 10rem;
  padding-top: 4px;
  padding-bottom: 4px;
}


.form__message.invalid{
    color: red;
    font-style: italic;
}

.bg-register-image{
  background-image: url("https://cdn.shopify.com/s/files/1/0644/2958/8701/files/nhan_720x.jpg?v=1672886556");
}