.fa-calendar{
    cursor: pointer;
    
}


.calendar_month{
    position: absolute; 
    width: 150px; 
    left: -122px; 
    font-size: 18px;
}

.calendar_month-button{
    border-radius: 5px; 
    position: absolute; 
    left: -175px; 
    font-size: 18px; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

.calendar_search{
    display: none;
}

.calendar_search.active{
    position: absolute;
    display: block;
}

.form__month-year{
}


.form__quantity-product{
}

.form__quantity-request{
    
}

.total_month{
}

.month-year {
}

.change__card{
    width: ;
}