:root {
  --primary-color: #f8f3e9;
  --button-color: #333333;
  --primary-font: "Montserrat";
  --font-color: #000000;
  --form-color: #d9d9d9;
}
body {
  font-family: var(--primary-font);
  background-color: #f8f3e9;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: var(--font-color);
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 15px;
}

.shipping {
  text-align: center;
  &-text {
    font-size: 12px;
    line-height: calc(19.5 / 16);
    padding: 8px;
    font-weight: 600;
  }
}

.nav-bot .container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 60px;
  flex-wrap: wrap;
}
.menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  list-style: none;
  font-size: 16px;
  line-height: calc(19.5 / 16);
  font-weight: 600;
  padding: 0 355px;
  &-link {
    text-decoration: none;
    opacity: 1;
    transition: all 0.2s linear;
    color: var(--font-color);
    &:hover {
      opacity: 0.6;
    }
  }
  &-icon {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 33px;
    //     flex-wrap: wrap;
    &-img {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
  &-logo {
    text-decoration: none;
    color: var(--font-color);
    font-weight: 700;
    font-size: 27px;
  }
}
.register .container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.register {
  &-space-mobile {
    display: none;
  }
  &-heading {
    font-size: 54px;
    font-weight: 700;
    border-bottom: 7px solid black;
  }
  &-form-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: stretch;
    justify-content: center;
  }
  &-form {
    display: flex;
    font-size: 16px;
    flex-direction: column;
    &-radio {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      position: relative;
    }
    &-input {
      &-check-logo {
        content: "";
        position: absolute;
        width: 30px;
        height: 30px;
        background-color: var(--form-color);
        border-radius: 50%;
        z-index: -1;
        &::after {
          content: "";
          position: absolute;
          top: 0.5rem;
          left: 0.5rem;
          bottom: 0.5rem;
          right: 0.5rem;
          background-color: #7a7a7a;
          border-radius: 50%;
          visibility: hidden;
        }
      }
      &-radio {
        width: 40px;
        // height: 30px;
        position: relative;
        opacity: 0;
      }
    }
    &-gender {
      display: flex;
      flex-direction: row;
      margin-bottom: 30px;
    }

    &-input-male {
      padding-right: 10px;
      line-height: 17px;
      font-weight: 600;
    }
    &-input-female {
      line-height: 17px;
      font-weight: 600;
    }
  }
  //   INPUT
  &-input {
    &-first-name {
      border: 0;
      outline: none;
      margin-bottom: 30px;
      padding: 20px 25px;
      background-color: var(--form-color);
      line-height: 17px;
      flex-grow: 1;
    }
    &-last-name {
      border: 0;
      outline: none;
      margin-bottom: 30px;
      padding: 20px 25px;
      background-color: var(--form-color);
      line-height: 17px;
      flex-grow: 1;
    }
    &-date {
      border: 0;
      outline: none;
      margin-bottom: 30px;
      padding: 20px 25px;
      background-color: var(--form-color);
      line-height: 17px;
      flex-grow: 1;
    }
    &-email {
      border: 0;
      outline: none;
      margin-bottom: 30px;
      padding: 20px 25px;
      background-color: var(--form-color);
      line-height: 17px;
      flex-grow: 1;
    }
    &-password {
      border: 0;
      outline: none;
      margin-bottom: 30px;
      padding: 20px 25px;
      background-color: var(--form-color);
      line-height: 17px;
      flex-grow: 1;
    }
    &-confirm-password {
      border: 0;
      outline: none;
      margin-bottom: 30px;
      padding: 20px 25px;
      background-color: var(--form-color);
      line-height: 17px;
      flex-grow: 1;
    }
  }
  //     FUNCTION
  &-function {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &-security {
      margin-bottom: 15px;
    }
    &-btn {
      border: 1px solid black;
      margin-bottom: 180px;
      padding: 14px 26px;
      background-color: transparent;
      color: black;
      font-size: 16px;
      font-weight: 700;
      transition: all 0.2s linear;
      position: relative;
      cursor: pointer;
      &::after {
        content: "";
        position: absolute;
        background-color: var(--button-color);
        color: white;
        top: 0;
        height: 100%;
        width: 0;
        right: 0;
        transition: 0.3s;
        z-index: -1;
      }
      &:hover {
        // background-color: white;
        color: white;
      }
      &:hover::after{
        left: 0;
        width: 100%;
        // color: white;
        // background-color: #333333;
        // z-index: 1;
      }
    }
    &-security {
      font-size: 14px;
    }
    &-register {
      font-size: 14px;
      font-weight: 600;
      &-question {
        opacity: 0.6;
      }
      &-hightlight {
        text-decoration: none;
        color: var(--font-color);
        font-weight: 700;
        transition: all 0.2s linear;
        &:hover {
          opacity: 0.6;
        }
      }
      
    }
  }
  &-link {
    text-decoration: none;
    color: var(--font-color);
    font-size: 14px;
    font-weight: 700;
  }
}
.footer .container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 60px;
}
.footer {
  &-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 150px;
    font-size: 14px;
    line-height: 15px;
    font-weight: 600;
    list-style: none;
    &-link {
      text-decoration: none;
      opacity: 1;
      transition: all 0.2s linear;
      color: var(--font-color);
      &:hover {
        opacity: 0.6;
      }
    }
  }
}
.register-form-input-radio:checked ~ .register-form-input-check-logo::after {
  visibility: visible;
}


// RESPONSIVE
@media screen and (max-width: 1024px) {
  .menu {
    padding: 0 10rem;
  }
  .register-heading {
    font-size: 30px;
  }
  .footer-menu {
    gap: 75px;
    padding: 0;
  }
}
@media screen and (max-width: 1440px) {
  .register-space {
    height: 900px;
  }
}

@media screen and (max-width: 768px) {
  .nav-bot .container {
    padding: 30px;
  }
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    list-style: none;
    font-size: 14px;
    line-height: 1.21875;
    font-weight: 600;
  }
  .register-space {
    // transform: rotate(90deg);
    // padding: 2rem;
    display: none;
  }
  .register .container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }
  .register-form {
    padding-top: 5rem;
  }
  .footer-menu {
    gap: 35px;
    flex-direction: column;
    padding: 0;
  }
  // .login-function-register {
  //   padding-bottom: 10rem;
  // }
}

@media screen and (max-width: 600px) {
  .nav-bot .container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 60px;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  .nav-bot {
    display: none;
  }
  .menu {
    display: none;
    &-icon {
      display: none;
    }
  }
  .nav-bot-responsive {
    display: block !important;
  }
  .register {
    &-heading {
      font-size: 25px;
      margin-bottom: 10px;
      border-bottom: 3px solid black;
    }
    &-space-mobile {
      display: block;
    }
  }
}
// NAV MOBILE
.nav-bot-responsive .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  flex-wrap: wrap;
}
.menu-responsive {
  &-icon {
    cursor: pointer;
    width: 24px;
    height: 24px;
    &-img {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
  &-logo {
    text-decoration: none;
    color: var(--font-color);
    font-weight: 700;
    font-size: 27px;
  }
}
.nav-bot-responsive {
  display: none;
}