*{
    box-sizing: inherit;
    
}

:root{
    --star-gold-color:#FCE22A;
}

html{
    font-size: 62.5%;
    /* line-height: 0.5rem; */
    box-sizing: border-box;
}


/* responsive */
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width{
    width: 100%;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
}



.grid__column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-3{
    padding-left: 5px;
    padding-right: 5px;
    width: 25%;
}

.grid__column-2-4{
    padding-left: 10px;
    padding-right: 10px;
    width: 24%;
}

.grid__column-3-4{
    padding-left: 10px;
    padding-right: 10px;
    width: 33%;
}

.grid__column-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3333%;
}

.grid__column-9{
    padding-left: 5px;
    padding-right: 5px;
    width: 75%;
}

