* {
    padding: 0;
    margin: 0;
}



header {
    background-color: #000;
    height: 60px;
}

.navigation {
    background-color: yellow;
    height: 60px;

}

.container {
    padding-top: 10px;
}

.category__filter {
    background-color: #E5E5E5;
    width: 100%;
    height: 100px;
    border-radius: 10px;

}


.category__filter-include {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
}

.category__filter-include li {
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;


}

.category__filter-include li p {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;

}


.category__filter-include-type {
    display: flex;
    justify-content: center;
}

.category__filter-include-type hr {
    margin: auto;
    height: 2.3rem;
    border: 1px solid #000;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    transform: rotate(90deg);
    background-color: #000;

}

.category__filter-include-type input {
    width: 10rem;
    height: 4rem;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

.category__filter-search-btn {
    width: 7rem;
    height: 4rem;
    margin: auto;
    border-radius: 10px;

}

.category__filter-search-btn:focus {}

.filter-select {
    background-color: #ccc;
    width: 20rem;
    height: 4rem;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.filter-select:hover .filter-select__list {
    display: block;
}



.filter-select__label {
    margin: auto;

}

.filter-select__list {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    list-style: none;
    padding: 8px 16px;


    /* background-color: #000; */
}

.filter-select__link {
    text-decoration: none;
    display: block;
    padding: 4px 0;
    color: #000;
    font-weight: bold;
}

.filter-select__link:hover {
    color: yellow;

}


/* ----------product--------------- */

.product__item {
    display: block;
    margin-top: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0 , 0.5);
    transition: tranform ease-in 0.1s;
    will-change: transform; 
}

.product__item:hover{
    transform: translate(-2px, -2px);


}

.product__item-img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;


}


.product__item-name {
    font-size: 1.4rem;
    font-weight: 400;
    color: #333;
    line-height: 1.8rem;
    margin: 10px 10px;
    height: 3.6rem;
    display: block;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}

.product__item-price {
    display: flex;
    margin-left: 10px;
    font-size: 1.6rem;
    flex-wrap: wrap;
    padding: 0 10px;
    margin: 10px 0;
}

.product__item-action {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 10px;
}

.product__item-heart {
    font-size: 1.4rem;
}

i.product__item-heart-icon-fill {
    color: #D61355;
    display: none;
}

.product__item-heart--liked .product__item-heart-icon-fill {
    display: inline-block;
}


.product__item-heart--liked .product__item-heart-icon-empty {
    display: none;
}
.product__item-rating {
    font-size: 1.3rem;
    margin-left: -1 0 0 auto;
}

.product__item-rating--gold{
    color: --star-gold-color;
}

.product__item-sold{
    font-size: 1.3rem;
    color: #333;
    margin-left: 6px;
}

.product__item-sell {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;


}
.product__item-sell button{
   width: 10rem;
   height: 5rem;
   border-radius: 5px;

}
.product__item-sell button a{
    text-decoration: none;
    color: #333;
}

