<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>SITE_MAP_FILE_PATH</param-name>
        <param-value>/WEB-INF/siteMaps.properties</param-value>
    </context-param>
    <filter>
        <filter-name>DispatcherFilter</filter-name>
        <filter-class>swp391.filter.DispatcherFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DispatcherFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>swp391.listener.MyContextServletListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>swp391.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchTextServlet</servlet-name>
        <servlet-class>swp391.controller.SearchTextServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>shoppingCartServlet</servlet-name>
        <servlet-class>swp391.controller.shoppingCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addToCartServlet</servlet-name>
        <servlet-class>swp391.controller.addToCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchTextServlet</servlet-name>
        <url-pattern>/SearchTextServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>shoppingCartServlet</servlet-name>
        <url-pattern>/shoppingCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addToCartServlet</servlet-name>
        <url-pattern>/addToCartServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!--    <welcome-file-list>
        <welcome-file>DispatchController</welcome-file>
    </welcome-file-list>-->
    <error-page>
        <error-code>404</error-code>
        <location>/fileNotFound.html</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/intervalServerError.html</location>
    </error-page>
    <resource-ref>
        <res-ref-name>DS007</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
